/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/bricks_edit");
    background-size: 100% 700px;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.slideshow-container {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
}

.mySlides {
    display: none;
    padding: 10%;
    text-align: center;
    height: 100%;
}

.food_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,o,0,0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: white;
    width: 100%;
    position: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot-hover {
    background-color: #ccc;
}

.menu-items {
    display: flex;
    background-color: white;
}

.menu-left{
    display: inline-block;
    flex-basis: 40%;
    padding: 50px 10px;
    justify-content: space-around;
}

.content li div {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content li p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
}

.wine {
    padding: 30px 0 30px 0;
    background-color: #ccc;
}

.wine li div {
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.wine li p {
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
}

.menu-right{
    display: inline-block;
    flex-basis: 40%;
    padding: 120px 10px;
    height: 800px;
    justify-content: space-around;
}

.nav-wrapper{
    overflow: hidden;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 40px 0;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
    
}

nav ul li{
    display: inline;
    padding: 0 10%;
    margin: 0 auto;
}

nav ul li a{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s;
}

nav ul li a:hover{
    border-bottom: 1px solid white;
}

.hero-image {
    height:100vh;
    width: 100%;
    background-image: url("../images/rocco_store.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 300px rgba(0,0,0,0.8) inset;
}

.location-items {
    display: flex;
}

.location-left {
    height: 1000px;
    flex-basis: 40%;
    padding: 75px 10px;
    background-color: white;
    justify-content: space-around;
}

.location-right {
    padding-top: 185px;
    flex-basis: 40%;
    background-color: white;
}

.menu-header {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    
}

.loc-header {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    
}

nav.sticky{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 50px;
    background: #333;
    padding: 10px 0;
    transform: translateY(-200%);
}

body.scroll nav.sticky{
    transform: translateY(0);
    transition: 0.6s;
}

.empty {
    flex-basis: 10%;
    background-color: white;
}

.blankVert {
    height: 300px;
}

.time-space {
    height: 24px;
}

.foot {
    height: 200px;
    background-color: #333;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
}

.content-info {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content-italicize {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.content-bold {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

.hours {
    padding-top: 25px;
    background-color: #eee;
    width: 40%;
    vertical-align: center;
}

.map-content {
    display: flex;
}

.address {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 25px;
    color: #333;
    text-decoration: none;
}

.address:hover {
    color: #ccc;
}

.res-header {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    
}

.name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 49%;
    padding: 10px 10px;
    border: none;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 49%;
    padding: 10px 10px;
    border: none;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.res-text {
    font-family: 'Montserrat', sans-serif;
}

input[type=text]:focus, input[type=date]:focus, input[type=time]:focus {
    border: 2px solid #333;
    transition: 0.3s;
}

.button-holder {
    text-align: left;
}

input[type=submit] {
    background-color: #333;
    border: none;
    color: white;
    padding: 16px 64px;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit]:hover {
    background-color: #444;
}

#map {
    width: 60%;
    height: 400px;
    justify-content: right;
}

@media screen and (min-width: 500px) and (max-width: 1224px){
    .location-items {
        display: block;
    }

    .location-left {
        height: 1000px;
        flex-basis: 100%;
        padding: 75px 10px;
        background-color: white;
        justify-content: space-around;
        display: block;
    }

    .location-right {
        padding-top: 185px;
        padding-bottom: 30px;
        flex-basis: 100%;
        background-color: white;
        display: block;
    }

    .map-content {
        display: block;
    }

    #map {
        width: 100%;
        height: 400px;
        justify-content: right;
    }

    .hours {
        background-color: #eee;
        width: 100%;
        align-content: center;
        height: 300px;
    }

    .name {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        width: 49%;
        padding: 10px 10px;
        margin-bottom: 5px;
        border: none;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    .button-holder {
        text-align: center;
    }

    .menu-items {
        display: block;
        background-color: white;
    }

    .food_img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    
    body {
        background-image: url("../images/bricks_edit");
        background-size: 1224px 700px;
        background-repeat: repeat-y;
        background-attachment: fixed;
    }

    .hero-image {
        height:100vh;
        width: 100%;
        background-image: url("../images/rocco_store.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 300px rgba(0,0,0,0.8) inset;
    }

    .menu-header {
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        text-align: center;
    }
    
    .loc-header {
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px){
    .location-items {
        display: block;
    }

    .location-left {
        height: 1000px;
        flex-basis: 100%;
        padding: 75px 10px;
        background-color: white;
        justify-content: space-around;
        display: block;
    }

    .location-right {
        padding-top: 185px;
        padding-bottom: 30px;
        flex-basis: 100%;
        background-color: white;
        display: block;
    }

    .map-content {
        display: block;
    }

    #map {
        width: 100%;
        height: 400px;
        justify-content: right;
    }

    .hours {
        background-color: #eee;
        width: 100%;
        align-content: center;
        height: 300px;
    }

    .button-holder{
        text-align: center;
    }

    .name {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 5px;
        border: none;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    .menu-items {
        display: block;
        background-color: white;
    }

    .food_img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    
    body {
        background-image: url("../images/bricks_edit");
        background-size: 1224px 700px;
        background-repeat: repeat-y;
        background-attachment: fixed;
    }

    .hero-image {
        height:100vh;
        width: 100%;
        background-image: url("../images/rocco_store.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 300px rgba(0,0,0,0.8) inset;
    }

    .menu-header {
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        text-align: center;
    }
    
    .loc-header {
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        text-align: center;
    }
}
